
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
        
    <br />
    <table class="table table-bordered">
        <tr>
            <th>kategori Id</th>
            <th>kategori adı</th>
            <th>kategori durumu</th>
            <th>detaylar</th>
        </tr>
        <tr>
            <td>1 </td>
            <td>meyve sebze</td>
            <td>aktif</td>
            <td><button class="btn btn-info">detaylar</button> </td>
        </tr>
        <tr>
            <td>2</td>
            <td>içecek</td>
            <td>aktif</td>
            <td><button class="btn btn-info">detaylar</button> </td>
        </tr>
    </table>
</div>