
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">


    <h3 class="alert alert-success">Yeni kategori ekleme alanı</h3>

    <label>kategori adı</label>
    <input type="text" class="form-control" />
    <br />

    <label>kategori açıklaması</label>
    <input type="text" class="form-control" />
    <br />

    <label>kategori değeri</label>
    <input type="text" class="form-control" />
    <br />

    <button class="btn btn-primary">kategori oluştur</button>
</div>
